h1 {
	font-weight: bold;
}

.signout-link {
	margin-left: 1em;
}

.login-controls {
	margin: 1em;
}

.question-heading {
	cursor: pointer;
}

.question-body {
	border-left: 4px solid gray;
}

.response-link {
	margin-left: 1em;
}

.fa {
	margin-right: .5em;
}
