
<div class="container-fluid">
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<%= @question.question %>
	</div>
	<div class="panel-body">
		<p>Asked by <%= @question.user %><p>
	</div>
	<ul class="list-group">
		<li class="list-group-item">Cras justo odio</li>
	</ul>
</div>
</div>
